/* styles/LobbyPhase.css */

.lobby-phase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px 0;
  box-sizing: border-box;
}

.lobby-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobby-bottom {
  display: flex;
  justify-content: center;
}